<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
    <style type="text/css">

body {
        
}


.div.container4 {
    height: 10em;
    position: relative }
div.container4 {
    margin: 0;
    background: #222222;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
</style>

    <title>predicao</title>

</head>
<body onload="pisca();">
    <p id="anuncio">Prediction Churn</p>
    
    <div class=container4>
        <marquee width="700" scrollamount="100" scrolldelay="900" loop="7">CHURN!</marquee>
    </div>
      <div class=container4>
        <marquee width="700"  scrollamount="100" scrolldelay="900" loop="7">NÃO CHURN!</marquee>
     </div>
   
   <!-- {% if predicao == 1 %}
        <div style="color: blue">Churn</div>
    {% else %}
        <div style="color: red">Não churn</div>
    {% endif %} 

var predicao = 1;
var status = "";

 if (predição => 1) {
   console.log("Churn");
} else if (predição == 0) {
    console.log("Churn");
} else {
   status = "Não Churn";
}

if (predição == 1) {
   console.log("Churn");
} else if (peso >= 20.7 && peso < 26.4) {
   status = "Peso normal";
} else if (peso >= 26.4 && peso < 27.8) {
   status = "Pouco acima do peso";
} else if (peso >= 27.8 && peso < 31.1) {
   status = "Acima do peso";
} else {
   status = "Obeso";
}

    if (predicao == 1%) {
        console.log("Churn")
    }else if (% == 0 %) {
        console.log("Não Churn");
    }-->
</body>

</html>     