<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
<title>Predict Churn</title>
</head>
<body>

  <div class="box">

  <form action="predicao" method="POST">

  <fieldset>
    <div class="alert">
        <h2>Predict Churn</h2>
        
    </div>
    
    <div class="container">
        
        <h2>Por favor escolha seu genero:</h2>
        
      <ul>
      <li>
        <input type="radio" id="Gender" name="Gender" value="0" required>
        <label for="Gender">Masculino</label>
        
        <div class="check"></div>
      </li>
      
          
      <li>
        <input type="radio" id="Gender" name="Gender" value="1" required>
        <label for="Gender">Feminino</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
    
    <div class="signature">
        
    </div>

    <div class="container">
        
        <h2>Idade Superior a 35 anos:</h2>
        
      <ul>
      <li>
        <input type="radio" id="Senior_Citizen" name="Senior_Citizen" value="1" required>
        <label for="Senior_Citizen">Sim</label>
        
        <div class="check"></div>
      </li>
      
          
      <li>
        <input type="radio" id="Senior_Citizen" name="Senior_Citizen" value="0" required>
        <label for="Senior_Citizen">Não</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
    
    <div class="signature">
        
    </div>
    <h2>Serviço de Telefone:</h2>
        
      <ul>
      <li>
        <input type="radio" id="Phone_Service" name="Phone_Service" value="1" required>
        <label for="Phone_Service">Sim</label>
        
        <div class="check"></div>
      </li>
      
          
      <li>
        <input type="radio" id="Phone_Service" name="Phone_Service" value="2" required>
        <label for="Phone_Service">Não</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
    
    <div class="signature">
        
    </div>
        
    <h2>Suporte Técnico:</h2>
        
    <ul>
    <li>
      <input type="radio" id="Tech_Support" name="Tech_Support" value="0" required>
      <label for="Tech_Support">Sim</label>
      
      <div class="check"></div>
    </li>
    
        
    <li>
      <input type="radio" id="Tech_Support" name="Tech_Support" value="1" required>
      <label for="Tech_Support">Não</label>
      
      <div class="check"><div class="inside"></div></div>
    </li>
  </ul>
  </div>
  
  <div class="signature">
      
  </div>

  <h2>Streaming Movies:</h2>
        
      <ul>
      <li>
        <input type="radio" id="Streaming_Movies" name="Streaming_Movies" value="0" required>
        <label for="Streaming_Movies">Sim</label>
        
        <div class="check"></div>
      </li>
      
          
      <li>
        <input type="radio" id="Streaming_Movies" name="Streaming_Movies" value="1" required>
        <label for="Streaming_Movies">Não</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
    
    <div class="signature">
        
    </div>
        
    </div>
    <div class="container">
        
        <h2>Formas de pagamento:</h2>
        
      <ul>
      <li>
        <input type="radio" id="Payment_Method" name="Payment_Method" value="0" required>
        <label for="Payment_Method">Cheque eletrônico</label>
        
        <div class="check"></div>
      </li>

      <li>
        <input type="radio" id="Payment_Method" name="Payment_Method" value="1" required>
        <label for="Payment_Method">Cheque Físico</label>
        
        <div class="check"></div>
      </li>     

      <li>
        <input type="radio" id="Payment_Method" name="Payment_Method" value="2" required>
        <label for="Payment_Method">Transferência Bancária</label>
        
        <div class="check"></div>
      </li>  
          
      <li>
        <input type="radio" id="Payment_Method" name="Payment_Method" value="3" required>
        <label for="Payment_Method">Cartão de Crédito</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
    
    <div class="signature">
        
    </div>

    <div class="container">
        
        <h2>Contrato:</h2>
        
      <ul>
      <li>
        <input type="radio" id="Contract" name="Contract" value="2">
        <label for="Contract">Mês a mês</label>
        
        <div class="check"></div>
      </li>

      <li>
        <input type="radio" id="Contract" name="Contract" value="1">
        <label for="Contract">Um ano</label>
        
        <div class="check"></div>
      </li>
      
          
      <li>
        <input type="radio" id="Contract" name="Contract" value="0">
        <label for="Contract">Dois ano</label>
        
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
    </div>
    
    <div class="signature">
        
    </div>

    <div class="container">
      <div class="text-box">
          <button class="btn btn-white btn-animate">Prediction Churn</button>
      </div>

    <script>
            
                  
          const btn = document.querySelector('#btn');
          btn.addEventListener('click', (event) => {
            let checkboxesGender = document.querySelectorAll('input[name="Gender"]:checked');
            let checkboxesSeniorCitizen = document.querySelectorAll('input[name="Senior_Citizen"]:checked');
            let checkboxesTechSupport = document.querySelectorAll('input[name="Tech_Support"]:checked');
            let checkboxesStreamingMovies = document.querySelectorAll('input[name="Streaming_Movies"]:checked');
            let checkboxesContract = document.querySelectorAll('input[name="Contract"]:checked');
            let checkboxesPaymentMethod = document.querySelectorAll('input[name="Payment_Method"]:checked');

            let valuesGender = [];
            let valuesSeniorCitizen = [];
            let valuesTechSupport = [];
            let valuesStreamingMovies = [];
            let valuesContract = [];
            let valuesPaymentMethod = [];
            
            checkboxesGender.forEach((checkbox) => {
              valuesGender.push(checkbox.value);
            });
            checkboxesSeniorCitizen.forEach((checkbox) => {
              valuesSeniorCitizen.push(checkbox.value);
            });
            checkboxesTechSupport.forEach((checkbox) => {
              valuesTechSupport.push(checkbox.value);
            });
            checkboxesStreamingMovies.forEach((checkbox) => {
              valuesStreamingMovies.push(checkbox.value);
            });
            checkboxesContract.forEach((checkbox) => {
              valuesContract.push(checkbox.value);
            });
            checkboxesPaymentMethod.forEach((checkbox) => {
              valuesPaymentMethod.push(checkbox.value);
            });

            console.log("---------valuesGender----------")
            console.log(valuesGender)
            console.log("---------valuesGender--------")
            console.log("------valuesSeniorCitizen---------")
            console.log(valuesSeniorCitizen)
            console.log("------valuesSeniorCitizen--------")
            console.log("-----valuesTechSupport------")
            console.log(valuesTechSupport)
            console.log("------valuesTechSupport---------")
            console.log("------valuesStreamingMovies--------")
            console.log(valuesStreamingMovies)
            console.log("------valuesStreamingMovies---------")
            console.log("------valuesContract-------")
            console.log(valuesContract)
            console.log("-------valuesContract----------")
            console.log("------valuesPaymentMethod----------")
            console.log(valuesPaymentMethod)
            console.log("-------valuesPaymentMethod---------")
        });    
    </script>
      
    </body>
    
     
    </html>